# SQL Tutorial 1: Simple Queries

-   `pip install requirements.txt` to install `jupysql` *before* running `jupyter lab`
-   Load the [jupysql](https://jupysql.ploomber.io/) extension

In [1]:
%load_ext sql

-   Connect to the `penguins.db` SQLite database
-   This database has one table called `penguins` which was created from `penguins.csv`

In [6]:
%sql sqlite:///penguins.db

Connecting and switching to connection 'sqlite:///penguins.db'

-   Create a SQL cell by putting `%%sql` on the first line and a valid SQL query in the rest of the cell.
-   The query `select * from penguins` gets all the rows from the `penguins` table.
-   The semi-colon at the end is required.
-   The `jupysql` extension truncates the display to 10 rows by default.

In [7]:
%%sql
select * from penguins;

Running query in 'sqlite:///penguins.db'

+---------+-----------+----------------+---------------+-------------------+-------------+--------+
| species |   island  | bill_length_mm | bill_depth_mm | flipper_length_mm | body_mass_g |  sex   |
+---------+-----------+----------------+---------------+-------------------+-------------+--------+
|  Adelie | Torgersen |      39.1      |      18.7     |        181        |     3750    |  MALE  |
|  Adelie | Torgersen |      39.5      |      17.4     |        186        |     3800    | FEMALE |
|  Adelie | Torgersen |      40.3      |       18      |        195        |     3250    | FEMALE |
|  Adelie | Torgersen |                |               |                   |             |        |
|  Adelie | Torgersen |      36.7      |      19.3     |        193        |     3450    | FEMALE |
|  Adelie | Torgersen |      39.3      |      20.6     |        190        |     3650    |  MALE  |
|  Adelie | Torgersen |      38.9      |      17.8     |        181        |     3625    | FEMALE |
|  Adelie | Torgersen |      39.2      |      19.6     |        195        |     4675    |  MALE  |
|  Adelie | Torgersen |      34.1      |      18.1     |        193        |     3475    |        |
|  Adelie | Torgersen |       42       |      20.2     |        190        |     4250    |        |
+---------+-----------+----------------+---------------+-------------------+-------------+--------+
Truncated to displaylimit of 10.